html, body {	
width: 100%;
margin: 0;
padding: 0;
background-color: #ffffff;
}

#container {	
height: auto;
width: 100%;
margin: 0 auto;
padding: 0;
}

#header {	
height: 60px;
width: 100%;
margin: auto;
padding: 0;
background-color: #000000;
}

#logo {
width: 270px;
float: left;
margin: auto;
padding: 0;
color: white;
}

#navbar {
width: 820px;
margin: auto;
padding: 0;
}

.navbutton {	
height: 60px;
margin: 0;
padding: 0;
float: left;
background-color: #000000;
color: white;
}

.navbutton:hover {	
background-color: #ffffff;
color: black;
}

#navbutton_active {	
background-color: #ffffff;
color: black;
}

.navbutton_text {
margin: 0;
padding: 0;
line-height: 60px;
text-align: center;
vertical-align: middle;
font-family: Tahoma;
font-size; 15px;
letter-spacing: 5px;
}

#navbutton_text_active {
}

#content {	
height: 620px;
width: 820px;
margin: auto;
background-color: #e6e6e6;
overflow: auto;
box-shadow: 0 -5px 10px;
}